* {
  margin: 0px;
  padding: 0px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --font-lg: 21px;
  --font-sm: 15px;
}

body {
  font-family: Outfit;
  background-color: var(--light-gray);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.card {
  display: grid;
  grid-template-columns: 280px;
  background: var(--white);
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 15px 50px var(--grayish-blue);
}

.qr {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 25px auto 30px auto;
  gap: 20px;
  justify-self: center;
  max-width: 250px;
  text-align: center;
  word-wrap: normal;
}

.heading {
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--dark-blue);
}

.desc {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--grayish-blue);
}
